
@{
    ViewData["Title"] = "Category";
}
<!-- banner -->
<div class="banner">
    <div class="box-img">
        <img src="~/images/all/Banner_category.png" alt="">
        <p class="banner-content">DANH MỤC SẢN PHẨM</p>
    </div>
</div>
<!-- end banner -->
<!-- session-common hang moi -->
<div class="session-common">
    <div class="box-header">
        <h3 class="header-content">
            Hàng mới
        </h3>
    </div>
    <div class="box-line">
        <div class="btn-line active">
            Nam
        </div>
        <div class="btn-line">
            Nữ
        </div>
    </div>
    <div class="box-content">
        <div class="n-row">
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/1.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/2.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <!-- <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div> -->
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/3.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>10.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/4.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-btn">
        <div class="header-discover">
            <a href="/home/category" class="n-btn-common">
                Xem thêm
            </a>
        </div>
    </div>
</div>
<!-- end session-common -->
<div class="line-black"></div>
<!-- ao -->
<div class="session-common">
    <div class="box-header">
        <h3 class="header-content">
            ÁO
        </h3>
    </div>
    <div class="box-line">
        <div class="btn-line active">
            Nam
        </div>
        <div class="btn-line">
            Nữ
        </div>
    </div>
    <div class="box-content">
        <div class="n-row">
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/5.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        BỘ SƯU TẬP THEO MÙA
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/6.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/7.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/8.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-btn">
        <div class="header-discover">
            <a href="/home/category" class="n-btn-common">
                Xem thêm
            </a>
        </div>
    </div>
</div>
<!-- end ao -->
<div class="line-black"></div>
<!-- Quan -->
<div class="session-common">
    <div class="box-header">
        <h3 class="header-content">
            Quần
        </h3>
    </div>
    <div class="box-line">
        <div class="btn-line active">
            Nam
        </div>
        <div class="btn-line">
            Nữ
        </div>
    </div>
    <div class="box-content">
        <div class="n-row">
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/9.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        BỘ SƯU TẬP THEO MÙA
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/10.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/11.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/12.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-btn">
        <div class="header-discover">
            <a href="/home/category" class="n-btn-common">
                Xem thêm
            </a>
        </div>
    </div>
</div>
<div class="line-black"></div>
<!-- vay -->
<div class="session-common">
    <div class="box-header">
        <h3 class="header-content">
            Váy
        </h3>
    </div>
    <!-- <div class="box-line">
        <div class="btn-line active">
            Nam
        </div>
        <div class="btn-line">
            Nữ
        </div>
    </div> -->
    <div class="box-content">
        <div class="n-row">
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/13.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        BỘ SƯU TẬP THEO MÙA
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/14.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/15.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/16.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-btn">
        <div class="header-discover">
            <a href="/home/category" class="n-btn-common">
                Xem thêm
            </a>
        </div>
    </div>
</div>
<div class="line-black"></div>

<!-- phu kien -->
<div class="session-common">
    <div class="box-header">
        <h3 class="header-content">
            Phụ kiện
        </h3>
    </div>
    <!-- <div class="box-line">
        <div class="btn-line active">
            Nam
        </div>
        <div class="btn-line">
            Nữ
        </div>
    </div> -->
    <div class="box-content">
        <div class="n-row">
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/17.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        BỘ SƯU TẬP THEO MÙA
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/18.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/19.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-product col-3">
                <div class="product-img">
                    <a href="/home/productDetail">
                        <img src="~/images/all/category/20.png" alt="">
                    </a>
                </div>
                <div class="product-content">
                    <a href="/home/productDetail">
                        ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                    </a>
                </div>
                <div class="product-price">
                    <div class="product-price-top n-row">
                        <div class="product-price-top-right">
                            <del>300.000đ</del>
                        </div>
                        <div class="product-price-top-left">
                            <span>101.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-btn">
        <div class="header-discover">
            <a href="/home/category" class="n-btn-common">
                Xem thêm
            </a>
        </div>
    </div>
</div>