
@{
    ViewData["Title"] = "Contact";
}


        <!-- banner -->
        <div class="banner">
            <div class="box-img">
                <img src="~/images/all/contact/1.png" alt="">
                <p class="banner-content">HỆ THỐNG CỬA HÀNG</p>
            </div>
        </div>
        <!-- end banner --> 

        <div class="contact">
            <div class="content-header">
                <p>LIÊN HỆ</p>
            </div>
            <div class="n-row contact-main">
                <div class="">
                    <div class="box-img">
                        <img style="width:132px" src="~/images/all/contact/3.png" alt="">
                    </div>
                    <div class="box-content">
                        <p>
                            1 Cửa hàng  <br>
                            duy nhất tại Hà Nội
                        </p>
                    </div>
                </div>
                <div class="">
                    <div class="box-img">
                        <img style="width:132px" src="~/images/all/contact/4.png" alt="">
                    </div>
                    <div class="box-content">
                        <p>
                            Mở cửa 9h00-21h00  <br>
                            (Tất cả các ngày trong tuần)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="contact-detail">
            <div class="contact-detail-main">
                <div class="n-row">
                    <div class="col-6 col-mobie-12">
                        <div class="box-left">
                            <h2 class="text-header">HỆ THỐNG CỬA HÀNG SWAN TẠI HÀ NỘI </h2>
                            <div class="content">
                                <p><span>■</span> Địa chỉ: <br>189 Hữu lê, Hữu Hoà, Thanh Trì, Hà Nội</p>
                            </div>
                            <div class="content">
                                <p><span>■</span>  Số điện thoại hottline: <br>0335969556</p>
                            </div>
                            <div class="content">
                                <p><span>■</span> Email: <br>Swan@gmail.com</p>
                            </div>
                            <div class="content">
                                <p><span>■</span> Fanpage/Facebook: <br>Swan_clothes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-mobie-12">
                        <div class="box-right">
                            <div class="">
                                <p class="text-header">Để lại số điện thoại cần tư vấn </p>
                            </div>
                            <div class="mt-20">
                                <p class="content">Chúng tôi sẽ liên hệ với bạn sớm nhất có thể!</p>
                            </div>
                            <div class="mt-20">
                                <input type="text" class="n-input input-gray" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="mt-20">
                                <textarea name="" class="n-input input-gray" placeholder="Ghi chú (VD: liên hệ giờ hành chính)" rows="4"></textarea>
                            </div>
                            <div class="mt-20">
                                <a href="#" class="btn-send-now">Gửi ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .footer{
                margin-top: 0;
            }
        </style>