@{
    ViewData["Title"] = "Trang chủ";
}

 <!-- banner -->
        <div class="banner">
            <div class="box-img">
                <img src="~/images/banner.png" alt="">
                <a href="/home/category" class="btn-buy-now">MUA NGAY</a>
            </div>
        </div>
        <!-- end banner -->
        <!-- session-common -->
        <div class="session-common trend">
            <div class="box-header">
                <h3 class="header-content">
                    XU HƯỚNG NĂM NAY
                </h3>
            </div>
            <div class="box-line">
                <div class="btn-line active">
                    Nam
                </div>
                <div class="btn-line">
                    Nữ
                </div>
            </div>
            <div class="box-content">
                <div class="n-row">
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/1.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/1-1.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <!-- <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div> -->
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/1-2.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>10.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/1-3.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end session-common -->
        <!-- collection -->
        <div class="session-common collection">
            <div class="box-header">
                <h3 class="header-content">
                    XU HƯỚNG NĂM NAY
                </h3>
            </div>
            <div class="box-line">
                <div class="btn-line active">
                    Nam
                </div>
                <div class="btn-line">
                    Nữ
                </div>
            </div>
            <div class="box-content">
                <div class="n-row">
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/2-1.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                BỘ SƯU TẬP THEO MÙA
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/2-2.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/2-3.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/2-0.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end collection -->
        <!-- banner 2 -->
        <div class="banner banner2">
            <a href="/home/category"><img src="~/images/banner1.png"  alt=""></a>
        </div>
        <!-- end banner 2 -->
        <!-- discover -->
        <div class="session-common discover">
            <div class="header-discover">
                <a href="/home/category" class="n-btn-common">
                    Khám phá
                </a>
            </div>
            <div class="box-content">
                <div class="n-row">
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/3-0.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/3-1.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <!-- <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div> -->
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/3-2.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>10.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <a href="/home/productDetail">
                                <img src="~/images/all/home/3-3.png" alt="">
                            </a>
                        </div>
                        <div class="product-content">
                            <a href="/home/productDetail">
                                ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                            </a>
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end discover -->
        <!-- jean -->
        <div class="jean">
            <div class="n-row">
                <div class="">
                    <div class="box-img">
                        <img src="~/images/product/quan-jeans-f654r-1 1.png" alt="">
                    </div>
                </div>
                <div class="">
                    <div class="box-content">
                        <div class="content-header">
                            <p>Swan's jeans</p>
                        </div>
                        <div class="content-body">
                            <p>
                                Quần Jeans nhà Swan được sử dụng chất liệu là Cotton Tái sinh (Regenerative Cotton) -
                                loại Cotton chất lượng và trồng bằng quy trình sạch, bền vững. Chiếc quần với vải Denim
                                được dệt toàn bộ tại nhà máy Nhơn Trạch, Đồng Nai của Saitex - nhà máy với nhiều trang
                                máy móc, thiết bị hiện đại với quy trình sản xuất khép kín, giảm thiểu CO2 và nước thải
                                ra môi trường.
                            </p>
                        </div>
                        <div>
                            <a href="/home/introduce" class="n-btn-common">
                                Tìm hiểu thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end jean -->
        <!-- category -->
        <div class="category">
            <div class="n-row">
                <div class="col-4 category-item">
                    <div class="box-img">
                        <img  class="border-1" src="~/images/product/ao-polo-jylme-2.jpg" alt="">
                        <a href="/home/category" class="btn-category n-btn-common">
                            Hàng mới
                        </a>
                    </div>
                </div>
                <div class="col-4 category-item">
                    <div class="box-img">
                        <img  class="border-1" src="~/images/product/balo-in-pattern-aa-boolaab-uhnyc-1.jpg" alt="">
                        <a href="/home/category" class="btn-category n-btn-common">
                            Phụ kiện
                        </a>
                    </div>
                </div>
                <div class="col-4 category-item">
                    <div class="box-img">
                        <img  class="border-1" src="~/images/product/ao-so-tqt0x-1.jpg" alt="">
                        <a href="/home/category" class="btn-category n-btn-common">
                            Tất cả
                        </a>
                    </div>
                </div>
            </div>
        </div>