
@{
    ViewData["Title"] = "Introduce";
}
<!-- banner -->
<div class="banner">
    <div class="box-img">
        <img src="~/images/all/introduce/1.png" alt="">
        <p class="banner-content">GIỚI THIỆU VỀ SWAN</p>
    </div>
</div>
<!-- end banner -->

<div class="introduce-content">
    <div class="n-row">
        <div class="introduce-content-left">
            <img style="height: 330px ;" src="~/images/all/introduce/logo-banner.png" alt="">
        </div>
        <div class="introduce-content-right">
            <p class="content">
                Swan thành lập vào tháng 3/2019, Nhu (CEO), Hiệp (CTO) và Lan (CMO) khởi đầu với một nhà kho
                20m2, và một Website bán hàng sơ khai, với các sản phẩm rất cơ bản dành cho nam giới như áo
                thun, tất và quần. Sau 3 năm, thì ngày hôm nay Swan đã có sự trưởng thành đáng kể.
                <br>
                <br>
                Swan vẫn bán áo thun, quần jean và cũng có thêm khá nhiều các sản phẩm khác trong tủ đồ nam giới
                như các đồ mặc đi chơi, mặc đi làm, hay chơi thể thao. Chúng tôi cũng bán cả mũ, cả khẩu trang,
                khăn mặt.
                <br>
                <br>
                Và chắc chắn là chúng tôi sẽ không dừng lại ở những thứ đó. Swan sẽ mở rộng hơn các sản phẩm,
                dịch vụ xoay quanh nhu cầu của nam và nữ.
            </p>
        </div>
    </div>
</div>
<div class="introduce-line mt-40">
    <p class="content">CHÚNG TÔI LUÔN CỐ GẮNG MANG ĐẾN 1 TRẢI NGHIỆM TỐT NHẤT!</p>
</div>

<div class="introduce-list">
    <div class="introduce-list-header">
        <h3 class="introduce-header">CÂU CHUYỆN DỊCH VỤ CỦA SWAN</h3>
    </div>
    <div class="introduce-contents">
        <div class="n-row introduce-content-item">
            <div class="col-5">
                <div class="box-img">
                    <img src="~/images/all/introduce/2.png" alt="">
                </div>
            </div>
            <div class="col-7">
                <div class="box">
                    <div class="box-header">
                        <h2 class="">
                            #Với khách hàng
                        </h2>
                    </div>
                    <div class="box-content">
                        <p>
                            Coolmate kỳ vọng mang lại giá cả tốt hơn cho khách hàng nhờ vào mô hình bán hàng trực tiếp
                            thông qua nền tảng TMĐT. Thay vì việc phải bán giá sản phẩm x4-x6 lần giá vốn như truyền
                            thống thì Coolmate thường là x1.8-x2.5 lần mà chúng tôi vẫn có phần lời nhất định. Ngoài ra
                            Coolmate còn hướng tới mang lại một trải nghiệm mua sắm tốt hơn dành cho khách hàng nhờ vào
                            việc tập trung rất nhiều vào dịch vụ khách hàng (tham khảo 11 cam kết của Coolmate dành cho
                            khách hàng)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="n-row introduce-content-item">
            <div class="col-5">
                <div class="box-img">
                    <img src="~/images/all/introduce/3.png" alt="">
                </div>
            </div>
            <div class="col-7">
                <div class="box">
                    <div class="box-header">
                        <h2 class="">
                            #Với nhân viên
                        </h2>
                    </div>
                    <div class="box-content">
                        <p>
                            Coolmate kỳ vọng sẽ xây dựng được một tổ chức cởi mở, một môi trường năng động với một văn hóa riêng (tham khảo văn hóa Coolmate). Và ở đó các bạn trẻ sẽ phát huy hết khả năng của mình, và nhận được những phần lương, thưởng xứng đáng. Ngoài lương thì các bạn nhân viên của Coolmate còn nhận được các ESOP (cổ phần thưởng) hàng năm nếu có đóng góp tốt.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="n-row introduce-content-item">
            <div class="col-5">
                <div class="box-img">
                    <img style="background-color:#000;" src="~/images/all/introduce/4.png" alt="">
                </div>
            </div>
            <div class="col-7">
                <div class="box">
                    <div class="box-header">
                        <h2 class="">
                            #Với xã hội và môi trường
                        </h2>
                    </div>
                    <div class="box-content">
                        <p>
                            Dệt may là ngành gây ra ô nhiễm môi trường lớn thứ 2 trên thế giới chỉ sau ngành giấy. Swan đang cố gắng chuyển mình theo hướng “Substainability” - Thời trang bền vững hơn ở hiện tại và trong tương lai. Bằng chứng là dòng sản phẩm Excool với sợi Sorona thân thiện với môi trường hơn nhiều so với sợi Polyester thường. Dự án kết hợp với Cleandye, công nghệ nhuộm sạch, không nước cũng tạo ra các sản phẩm thân thiện hơn với môi trường.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>