
@{
    ViewData["Title"] = "News";
}

  <!-- banner -->
        <div class="banner">
            <div class="box-img">
                <img src="~/images/all/news/banner.png" alt="">
                <p class="banner-content">BÀI VIẾT VÀ TIN TỨC</p>
            </div>
        </div>
        <!-- end banner -->
        <div class="line-black mt-40 mb-40"></div>

        <div class="category">
            <div class="content-header">
                <p>BỘ SƯU TẬP MỚI DÀNH CHO PHÁI NỮ </p>
            </div>
            <div class="n-row">
                <div class="col-4 category-item">
                    <div class="box-img">
                        <img src="~/images/all/news/1.png" alt="">
                    </div>
                </div>
                <div class="col-4 category-item">
                    <div class="box-img">
                        <img src="~/images/all/news/2.png" alt="">
                    </div>
                </div>
                <div class="col-4 category-item">
                    <div class="box-img">
                        <img src="~/images/all/news/3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="category-content">
                <p>Trẻ trung, năng động và đậm cá tính là những gì ngắn gọn nhất. Ngày nay được các nhà thiết kế Swan “biến hóa” tài tình để phù hợp cho việc mix&match các set đồ đi chơi, thậm chí đi học hay đi làm ở những môi trường năng động không yêu cầu sự trang trọng trong trang phục. Vậy xu hướng phối đồ cùng item này sao cho chuẩn đẹp? Hãy cùng theo chân Swan ngay nha!
                </p>
            </div>
        </div>
        
        <!-- daily news -->
         <div class="daily-news">
            <div class="content-header-2 n-row">
                <div class=" line-black-2"></div>
                <p class="line-black-center-2">TIN TỨC MỖI NGÀY</p>
                <div class=" line-black-2"></div>
            </div>
            <div class="mt-40 n-row">
                <div class="col-8 daily-left">
                    <div class="box-img">
                        <img src="~/images/all/daily-news1.png" alt="">
                    </div>
                    <div class="box-content">
                        <div class="box-1">
                            <h3><a href="#">Xu hướng thời trang</a></h3>
                        </div>
                        <div class="box-2">
                            <h3>
                                <a href="#">Phối đồ cực chuẩn cùng Swan cho các chàng</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-4 daily-right">
                    <div class="box-header">
                        <h3>Bài viết liên quan</h3>
                    </div>
                    <div class="boxes">
                        <div class="box-item">
                            <div class="box-item-img">
                                <img src="~/images/all/news/image29.png" alt="">
                            </div>
                            <div class="box-item-content">
                                <h4>BENIQUE <br> 
                                    Tạo nên sự khác biệt !</h4>
                                <p class="content">Khát khao của thế hệ Gen Z 
                                    là được tự do thể hiện cái tôi
                                    cá tính</p>
                                <p class="date">31/10/2022</p>
                            </div>
                        </div>
                        <div class="box-item">
                            <div class="box-item-img">
                                <img src="~/images/all/news/image29.png" alt="">
                            </div>
                            <div class="box-item-content">
                                <h4>BENIQUE <br> 
                                    Tạo nên sự khác biệt !</h4>
                                <p class="content">Khát khao của thế hệ Gen Z 
                                    là được tự do thể hiện cái tôi
                                    cá tính</p>
                                <p class="date">31/10/2022</p>
                            </div>
                        </div>
                        <div class="box-item">
                            <div class="box-item-img">
                                <img src="~/images/all/news/image29.png" alt="">
                            </div>
                            <div class="box-item-content">
                                <h4>BENIQUE <br> 
                                    Tạo nên sự khác biệt !</h4>
                                <p class="content">Khát khao của thế hệ Gen Z 
                                    là được tự do thể hiện cái tôi
                                    cá tính</p>
                                <p class="date">31/10/2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- end daily news -->

        <div class="category">
            <div class="n-row">
                <div class="col-4 category-item news-item">
                    <div class="box-img">
                        <img src="~/images/all/news/4.png" alt="">
                    </div>
                    <div class="box-content">
                        <h3><a href="">BẬT MÍ 4 KIỂU ÁO KHOÁC</a></h3>
                        <p>Mỗi trang phục đều có một nét đặc trưng riêng, mang đến người mặc những giá trị và vẻ đẹp riêng của mình. Một trong số các món đồ mang tính ứng dụng và thời trang cao có lẽ là những chiếc áo khoác nam
                        </p>
                        <p ><a class="xemthem" href="#">Xem thêm</a></p>
                    </div>
                </div>
                <div class="col-4 category-item news-item">
                    <div class="box-img">
                        <img src="~/images/all/news/5.png" alt="">
                    </div>
                    <div class="box-content">
                        <h3><a href="">BẬT MÍ 4 KIỂU ÁO KHOÁC</a></h3>
                        <p>Mỗi trang phục đều có một nét đặc trưng riêng, mang đến người mặc những giá trị và vẻ đẹp riêng của mình. Một trong số các món đồ mang tính ứng dụng và thời trang cao có lẽ là những chiếc áo khoác nam
                        </p>
                        <p ><a class="xemthem" href="#">Xem thêm</a></p>
                    </div>
                </div>
                <div class="col-4 category-item news-item">
                    <div class="box-img">
                        <img src="~/images/all/news/4.png" alt="">
                    </div>
                    <div class="box-content">
                        <h3><a href="">BẬT MÍ 4 KIỂU ÁO KHOÁC</a></h3>
                        <p>Mỗi trang phục đều có một nét đặc trưng riêng, mang đến người mặc những giá trị và vẻ đẹp riêng của mình. Một trong số các món đồ mang tính ứng dụng và thời trang cao có lẽ là những chiếc áo khoác nam
                        </p>
                        <p ><a class="xemthem" href="#">Xem thêm</a></p>
                    </div>
                </div>
            </div>
        </div>