
@{
    ViewData["Title"] = "PersionalBill";
}

    <div class="main-cart">
            <div class="d-flex">
                <div class="col-4">
                    <div class="form-common">
                        <div class="form-login">
                            <div class="form-group">
                                <h2>Nguyễn Phương Thanh</h2>
                            </div>
                            <div class="form-group">
                                <a class="btn-white text-center">Thông tin cá nhân</a>
                            </div>
                            <div class="form-group">
                                <a class="btn-black text-center">Danh sách đơn hàng</a>
                            </div>
                            <div class="form-group">
                                <a class="btn-white text-center">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-common-left">
                        <div class="form-group">
                            <h2>Danh sách đơn hàng</h2>
                        </div>
                        <div class="box-bill">
                            <div class="bill-header">
                                <div class="n-row form-group">
                                    <div class="col-3">
                                        <div>
                                            <p>Ảnh</p>
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3">
                                        <div>
                                            <p>Tên sản phẩm</p>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div>
                                            <p>Số lượng</p>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <p>Đơn giá</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bill-item">
                                <div class="n-row form-group">
                                    <div class="col-3">
                                        <div class="">
                                            <img src="~/images/all/cart/1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3 text-align-center">
                                        <div class="">
                                            <p>ÁO NỈ MŨ TRÁI TIM</p>
                                        </div>
                                    </div>
                                    <div class="col-2 text-align-center">
                                        <div>
                                            <p>x1</p>
                                        </div>
                                    </div>
                                    <div class="col-3 text-align-center">
                                        <p>199.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bill-item">
                                <div class="n-row form-group">
                                    <div class="col-3">
                                        <div class="">
                                            <img src="~/images/all/cart/1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3 text-align-center">
                                        <div class="">
                                            <p>ÁO NỈ MŨ TRÁI TIM</p>
                                        </div>
                                    </div>
                                    <div class="col-2 text-align-center">
                                        <div>
                                            <p>x1</p>
                                        </div>
                                    </div>
                                    <div class="col-3 text-align-center">
                                        <p>199.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="line-black"></div>
                            <div class="mt-20 text-right">
                                <p><b>Trạng thái</b>: Đang giao &nbsp
                                    <b>Tổng tiền</b>: 343.000đ </p>
                            </div>
                            <div class="mt-20 mb-20 text-right">
                                <a href="#" class="btn-black" style="display: inline-block;">Chi tiết</a>
                                <a href="#" class="btn-black" style="display: inline-block;">Liên hệ</a>
                            </div>
                        </div>
                        <div class="box-bill">
                            <div class="bill-header">
                                <div class="n-row form-group">
                                    <div class="col-3">
                                        <div>
                                            <p>Ảnh</p>
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3">
                                        <div>
                                            <p>Tên sản phẩm</p>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div>
                                            <p>Số lượng</p>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <p>Đơn giá</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bill-item">
                                <div class="n-row form-group">
                                    <div class="col-3">
                                        <div class="">
                                            <img src="~/images/all/cart/1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3 text-align-center">
                                        <div class="">
                                            <p>ÁO NỈ MŨ TRÁI TIM</p>
                                        </div>
                                    </div>
                                    <div class="col-2 text-align-center">
                                        <div>
                                            <p>x1</p>
                                        </div>
                                    </div>
                                    <div class="col-3 text-align-center">
                                        <p>199.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bill-item">
                                <div class="n-row form-group">
                                    <div class="col-3">
                                        <div class="">
                                            <img src="~/images/all/cart/1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3 text-align-center">
                                        <div class="">
                                            <p>ÁO NỈ MŨ TRÁI TIM</p>
                                        </div>
                                    </div>
                                    <div class="col-2 text-align-center">
                                        <div>
                                            <p>x1</p>
                                        </div>
                                    </div>
                                    <div class="col-3 text-align-center">
                                        <p>199.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="line-black"></div>
                            <div class="mt-20 text-right">
                                <p><b>Trạng thái</b>: Đang giao &nbsp
                                    <b>Tổng tiền</b>: 343.000đ </p>
                            </div>
                            <div class="mt-20 mb-20 text-right">
                                <a href="#" class="btn-black" style="display: inline-block;">Mua Lại</a>
                                <a href="#" class="btn-black" style="display: inline-block;">Chi tiết</a>
                                <a href="#" class="btn-black" style="display: inline-block;">Liên hệ</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>