
@{
    ViewData["Title"] = "PersionalBillDetail";
}
   <div class="main-cart">
            <div class="d-flex">
                <div class="col-4">
                    <div class="form-common">
                        <div class="form-cart">
                            <div class="form-group">
                                <h2>Thông tin tài khoản</h2>
                            </div>
                            <div class="form-group">
                                <div class="n-row">
                                    <div class="col-3">
                                        <p>Họ tên</p>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="Nhập họ tên">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="n-row">
                                    <div class="col-3">
                                        <p>Email</p>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="Nhập Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="n-row">
                                    <div class="col-3">
                                        <p>Số điện thoại</p>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="Nhập số điện thoại">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="n-row">
                                    <div class="col-3">
                                        <p>Địa chỉ</p>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="Nhập địa chỉ">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="n-row">
                                    <div class="col-3">
                                        <p>Ngày đặt hàng</p>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="Nhập địa chỉ" value="13/10/2022">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="n-row">
                                    <div class="col-3">
                                        <p>Ghi chú</p>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-8">
                                        <textarea class="form-control" name="" id="" cols="30" rows="3" placeholder="Nhập ghi chú"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-common-left">
                        <div class="form-group">
                            <h2>Danh sách đơn hàng</h2>
                        </div>
                        <div class="box-bill">
                            <div class="bill-header">
                                <div class="n-row form-group">
                                    <div class="col-3">
                                        <div>
                                            <p>Ảnh</p>
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3">
                                        <div>
                                            <p>Tên sản phẩm</p>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div>
                                            <p>Số lượng</p>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <p>Đơn giá</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bill-item">
                                <div class="n-row form-group">
                                    <div class="col-3">
                                        <div class="">
                                            <img src="~/images/all/cart/1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3 text-align-center">
                                        <div class="">
                                            <p>ÁO NỈ MŨ TRÁI TIM</p>
                                        </div>
                                    </div>
                                    <div class="col-2 text-align-center">
                                        <div>
                                            <p>x1</p>
                                        </div>
                                    </div>
                                    <div class="col-3 text-align-center">
                                        <p>199.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bill-item">
                                <div class="n-row form-group">
                                    <div class="col-3">
                                        <div class="">
                                            <img src="~/images/all/cart/1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3 text-align-center">
                                        <div class="">
                                            <p>ÁO NỈ MŨ TRÁI TIM</p>
                                        </div>
                                    </div>
                                    <div class="col-2 text-align-center">
                                        <div>
                                            <p>x1</p>
                                        </div>
                                    </div>
                                    <div class="col-3 text-align-center">
                                        <p>199.000đ</p>
                                    </div>
                                </div>
                            </div>
                            <div class="line-black"></div>
                            <div class="mt-20 text-right">
                                <p><b>Trạng thái</b>: Đang giao &nbsp
                                    <b>Tổng tiền</b>: 343.000đ </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
