
@{
    ViewData["Title"] = "Policy";
}

  <!-- banner -->
        <div class="banner">
            <div class="box-img">
                <img src="~/images/all/Policy/1.png" alt="">
            </div>
        </div>
        <!-- end banner -->
        <!-- Policy 1 -->
        <div class="Policy-1">
            <div class="n-row">
                <div class="col-7">
                    <div class="box">
                        <div class="box-header">
                            <h3>80% SỰ PHIỀN HÀ
                                CỦA VIỆC MUA SẮM QUẦN ÁO ONLINE</h3>
                        </div>
                        <div class="box-content mt-20">
                            <p>Có lẽ là sự không chắc chắn về size số!
                                Không ai muốn mặc những chiếc quần chiếc áo rộng/ chật hơn với người mình cả.Hoặc những chính sách đổi trả rườm rà với nhiều ràng buộc.
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="box-img">
                        <img src="~/images/all/Policy/2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer ">
            <p class="text-center mt-40">Chính vì thế, Swan có chính sách đổi trả trong vòng</p>
        </div>
        <!-- Policy-2 -->
        <div class="Policy-2">
            <div class="box-header">
                <div class="btn-policy">
                    7 NGÀY
                </div>
            </div>
            <div class="box-content mt-40">
                <p>
                    Với những sản phẩm bạn đã mua tại Swan, 7 ngày kể từ khi bạn nhận sản phẩm thì bạn sẽ được đổi hàng và trả hàng với bất kỳ lý do gì, bao gồm cả các sản phẩm đã qua giặt và sử dụng.Một số lưu ý:

                </p>
                <ul class="pl-20" style="list-style: disc;">
                    <li>Swan sẽ không áp dụng đổi trả với 1 số dòng sản phẩm nhất định như: Outlet, Áo in theo yêu cầu, Sản phẩm Săn Deal vì các sản phẩm này thường sẽ không về lại. Tuy nhiên nếu như mà các bạn thực sự cần hỗ trợ thì cứ thử gửi yêu cầu cho CSKH Swan xem sao nhé!</li>
                    <li>Nếu các bạn mua sản phẩm ở các sàn TMĐT, thì Swan sẽ áp dụng trước chính sách đổi/trả của sàn TMĐT, nếu quá hạn của sàn TMĐT thì bạn có thể yêu cầu hỗ trợ từ CSKH của Swan trực tiếp!</li>
                </ul>
            </div>
            <div class="box-header mt-40">
                <div class="btn-policy-2">
                    3 Bước đổi trả hàng
                </div>
                <div class="box content mt-20">
                    <p>
                        Tiện lợi - Nhanh chóng
                    </p>
                </div>
            </div>
        </div>
        <div class="policy-3">
            <div class="n-row">
                <div class="col-4 policy-item-3">
                    <div class="box ">
                        <div class="box-img mt-40">
                            <a class="btn-number">
                                1
                            </a>
                        </div>
                        <div class="box-header mt-20">
                            Gửi form yêu cầu
                        </div>
                        <div class="box-content mt-20">
                            <p>Form Đổi hàng <a href="#"><u>Ở đây</u></a></p>
                            <p>Form Đổi hàng <a href="#"><u>Ở đây</u></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-4 policy-item-3">
                    <div class="box ">
                        <div class="box-img mt-40">
                            <a class="btn-number">
                                2
                            </a>
                        </div>
                        <div class="box-header mt-20">
                            Xác nhận
                        </div>
                        <div class="box-content mt-20">
                            <p>Nhận cuộc gọi/tin nhắn xác nhận từ Swan về sản phẩm và thời gian nhận hàng.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4 policy-item-3">
                    <div class="box ">
                        <div class="box-img mt-40">
                            <a class="btn-number">
                                3
                            </a>
                        </div>
                        <div class="box-header mt-20">
                            Gửi form yêu cầu
                        </div>
                        <div class="box-content mt-20">
                            <p>Ngồi chờ bưu tá đến và đưa lại hàng cần đổi/trả là được nhé!(*) Bạn giúp Swan phải đóng gói sản phẩm khi đưa cho bưu tá nhé!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>