
@{
    ViewData["Title"] = "ProductDetail";
}

        <div class="detail-content">
            <div class="n-row">
                <div class="detail-content-left">
                    <div class="fade">
                        <div>
                            <img src="~/images/SLIDE/1.png" alt="">
                        </div>
                        <div>
                            <img src="~/images/SLIDE/2.png" alt="">
                        </div>
                        <div>
                            <img src="~/images/SLIDE/3.png" alt="">
                        </div>
                        <div>
                            <img src="~/images/SLIDE/4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="detail-content-right">
                    <div class="box">
                        <div class="box-header">
                            <h2>
                                ÁO NỈ MŨ TRÁI TIM
                            </h2>
                        </div>
                        <div class="box-price mt-20">
                            <div class="price-top n-row">
                                <div class="price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                        <div class="box-color">
                            <div class="color-header">
                                Màu sắc
                            </div>
                            <div class="n-row mt-20 colors">
                                <p href="#" class="btn-color bg-red active"></p>
                                <p href="#" class="btn-color bg-light-gray"></p>
                            </div>
                        </div>
                        <div class="box-size mt-20">
                            <div class="size-header">
                                Kích thước
                            </div>
                            <div class="sizes n-row mt-20">
                                <div class="btn-size active">
                                    S
                                </div>
                                <div class="btn-size">
                                    M
                                </div>
                                <div class="btn-size">
                                    L
                                </div>
                                <div class="btn-size">
                                   XL
                                </div>
                            </div>
                        </div>
                        <div class="box-amount mt-20">
                            <div class="amount-header">
                                Số lượng
                            </div>
                            <div class="box-input-amount n-row mt-20 mb-20" >
                                <div class="input-amount-left"> - </div>
                                <div>
                                    <input type="text" id="txtAmount" class="n-input input-amount" value="1">
                                </div>
                                <div class="input-amount-right"> + </div>
                            </div>
                        </div>
                        <div class="box-btn-amount box-btn n-row">
                            <div class=" mr-15">
                                <a href="#" class="btn-white">Thêm vào giỏ hàng</a>
                                
                            </div>
                            <div class="">
                                <a href="#" class="btn-black">Mua ngay</a>
                            </div>
                        </div>
                        <div class="line-black mt-20"></div>
                        <div class="box-detail mt-20">
                           <p>
                            MÔ TẢ SẢN PHẨM <br>
                            Mã sản phẩm : 1.2.06.3.18.020.221.23 <br>
                            - ÁO NỈ MŨ TRÁI TIM chất liệu nỉ da cá, kiểu dáng oversize <br>
                            - Ngực áo đính patch mềm mới logo BOOLAAB + logo INFINITEE[04] <br>
                            - Sau lưng in hình in BOOLAAB với công nghệ in digital hiện đại, kết hợp với họa tiết Op
                            art gây hiệu ứng thị giác mạnh, tạo điểm nhấn cho set đồ.
                           </p>
                        </div>
                        <div class="line-black mt-20"></div>
                        <div class="box-ship mt-20">
                            <h3>GIAO HÀNG</h3>
                            <div class="btn-ship mt-20">
                                <a href="#">
                                    <img style="width:40px" src="~/images/icon/box.png" alt="">
                                    <p>Free ship đơn hàng trên 499.000đ</p>
                                </a>
                            </div>
                            <div class="mt-20">
                                <p>Chính sách giao hàng có thể thay đổi sau chương trình khuyến mãi</p>
                            </div>
                        </div>
                        <div class="line-black mt-20"></div>
                        <div class="box-return mt-20">
                            <a href=""><u>CHÍNH SÁCH ĐỔI TRẢ HÀNG</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="evaluate">
            <div class="line-black mb-20"></div>
            <div class="box n-row">
                <div class="box-header text-bold">
                    <div>
                        ĐÁNH GIÁ
                    </div>
                    <div>
                        4/5
                    </div>
                </div>
                <div class="box-star ml-20">
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-empty.png" alt="">
                    </div>
                </div>
            </div>
            <div class="line-black mt-20"></div>
            
            <div class="box n-row">
                <div class="box-header-1 ">
                    <p style="">Nguyễn Phương Thanh </p>
                </div>
                <div class="box-star ml-20">
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-empty.png" alt="">
                    </div>
                </div>
                <div class="ml-20 pt-10">
                    <p>Áo đẹp lắm, chất liệu cực kì ưng</p>
                </div>
            </div>
            <div class="box n-row">
                <div class="box-header-1 ">
                    <p style="">Nguyễn Phương Thanh </p>
                </div>
                <div class="box-star ml-20">
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-full.png" alt="">
                    </div>
                    <div class="star-item">
                        <img style="width:40px" src="~/images/icon/star-empty.png" alt="">
                    </div>
                </div>
                <div class="ml-20 pt-10">
                    <p>Áo đẹp lắm, chất liệu cực kì ưng</p>
                </div>
            </div>
            <div class="line-black mt-20"></div>
        </div>

        <div class="session-common trend">
            <div class="box-header">
                <h3 class="header-content">
                    SẢN PHẨM LIÊN QUAN
                </h3>
            </div>
            <div class="box-content">
                <div class="n-row">
                    <div class="box-product col-3">
                        <div class="product-img">
                            <img src="~/images/all/home/1.png" alt="">
                        </div>
                        <div class="product-content">
                            ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <img src="~/images/all/home/1-1.png" alt="">
                        </div>
                        <div class="product-content">
                            ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <!-- <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div> -->
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <img src="~/images/all/home/1-2.png" alt="">
                        </div>
                        <div class="product-content">
                            ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>10.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <img src="~/images/all/home/1-3.png" alt="">
                        </div>
                        <div class="product-content">
                            ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-content">
                <div class="n-row">
                    <div class="box-product col-3">
                        <div class="product-img">
                            <img src="~/images/all/home/1.png" alt="">
                        </div>
                        <div class="product-content">
                            ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <img src="~/images/all/home/1-1.png" alt="">
                        </div>
                        <div class="product-content">
                            ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <!-- <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div> -->
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <img src="~/images/all/home/1-2.png" alt="">
                        </div>
                        <div class="product-content">
                            ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>10.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-product col-3">
                        <div class="product-img">
                            <img src="~/images/all/home/1-3.png" alt="">
                        </div>
                        <div class="product-content">
                            ÁO NỈ MŨ PHỐI OP ART BOOLAAB
                        </div>
                        <div class="product-price">
                            <div class="product-price-top n-row">
                                <div class="product-price-top-right">
                                    <del>300.000đ</del>
                                </div>
                                <div class="product-price-top-left">
                                    <span>101.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
