@{
    ViewData["Title"] = "Register";
}


<div class="main-sign mt-20">

    <div class="form-register">
        <h2>ĐĂNG KÝ TÀI KHOẢN</h2>
        <div class="form-group mt-20">
            <input type="text" class="form-control" id="name" placeholder="Tên của bạn">
        </div>
        <div class="form-group">
            <input type="text" class="form-control"id="phone" placeholder="Số điện thoại">
        </div>
        <div class="form-group">
            <input type="text" class="form-control"id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control"id="password" placeholder="Mật khẩu">
        </div>
        <div class="form-group">
            <input type="password" class="form-control"id="rePassword" placeholder="Nhập lại mật khẩu">
        </div>
        <div class="form-group">
            <a class="btn-black text-center" id="btn-register">Đăng ký</a>
        </div>
    </div>

    <div class="form-group text-center">
        <div class="line-black">
            <span class="line-text">Hoặc</span>
        </div>
    </div>
    <div class="form-group">
        <div class="form-control">
            <div class="sign-google">
                <div class="box-img">
                    <img style="width: 24px" src="~/images/icon/google.png" alt="">
                </div>
                <div class="box-content">
                    <p>Đăng nhập bằng Google</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-control">
            <div class="sign-google">
                <div class="box-img">
                    <img style="width: 24px" src="~/images/icon/fb.png" alt="">
                </div>
                <div class="box-content">
                    <p>Đăng nhập bằng Facebook</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-register text-center">
        <a href="/home/login"><u>ĐĂNG NHẬP</u></a>
    </div>
</div>
