
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="text-center mt-40">
    <h1>DANH MỤC SẢN PHẨM</h1>
</div>

<div class="revenue mt-40">
    <div class="btn-add text-right">
        <a href="/admin/create" class="btn-black" style="display:inline-block">Thêm mới</a>
    </div>
    <div class="n-row">
        <div class="col-3 col-m-12">
            <ul class="list-group">
                <li class="list-group-item border-top-0 active" aria-current="true">Sản phẩm</li>
                <li class="list-group-item">Danh mục sản phẩm</li>
            </ul>
        </div>
        <div class="col-9 col-m-12">
            <div class="pl-30 revenue-right">
                <table class="table">
                    <thead>
                        <tr class="border-top-0">
                            <th>ID</th>
                            <th >Tên</th>
                            <th>Danh Mục</th>
                            <th>Ngày tạo</th>
                            <th style="width: 18%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>Áo nỉ mũ trái tim</td>
                            <td>Áo/Nam/Nữ</td>
                            <td>13/10/2022</td>
                            <td>
                                <div class="d-flex">
                                    <div>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </div>
                                    <div>
                                        <img style="padding-top: 12px;padding-left: 24px;cursor:pointer;" src="~/images/icon/Recycle-bin.png" alt="Alternate Text" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Áo nỉ mũ trái tim</td>
                            <td>Áo/Nam/Nữ</td>
                            <td>13/10/2022</td>
                            <td>
                                <div class="d-flex">
                                    <div>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </div>
                                    <div>
                                        <img style="padding-top: 12px;padding-left: 24px;cursor:pointer;" src="~/images/icon/Recycle-bin.png" alt="Alternate Text" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>Áo nỉ mũ trái tim</td>
                            <td>Áo/Nam/Nữ</td>
                            <td>13/10/2022</td>
                            <td>
                                <div class="d-flex">
                                    <div>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </div>
                                    <div>
                                        <img style="padding-top: 12px;padding-left: 24px;cursor:pointer;" src="~/images/icon/Recycle-bin.png" alt="Alternate Text" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>Áo nỉ mũ trái tim</td>
                            <td>Áo/Nam/Nữ</td>
                            <td>13/10/2022</td>
                            <td>
                                <div class="d-flex">
                                    <div>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </div>
                                    <div>
                                        <img style="padding-top: 12px;padding-left: 24px;cursor:pointer;" src="~/images/icon/Recycle-bin.png" alt="Alternate Text" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td>Áo nỉ mũ trái tim</td>
                            <td>Áo/Nam/Nữ</td>
                            <td>13/10/2022</td>
                            <td>
                                <div class="d-flex">
                                    <div>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </div>
                                    <div>
                                        <img style="padding-top: 12px;padding-left: 24px;cursor:pointer;" src="~/images/icon/Recycle-bin.png" alt="Alternate Text" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>6</th>
                            <td>Áo nỉ mũ trái tim</td>
                            <td>Áo/Nam/Nữ</td>
                            <td>13/10/2022</td>
                            <td>
                                <div class="d-flex">
                                    <div>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </div>
                                    <div>
                                        <img style="padding-top: 12px;padding-left: 24px;cursor:pointer;" src="~/images/icon/Recycle-bin.png" alt="Alternate Text" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>7</th>
                            <td>Áo nỉ mũ trái tim</td>
                            <td>Áo/Nam/Nữ</td>
                            <td>13/10/2022</td>
                            <td>
                                <div class="d-flex">
                                    <div>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </div>
                                    <div>
                                        <img style="padding-top: 12px;padding-left: 24px;cursor:pointer;" src="~/images/icon/Recycle-bin.png" alt="Alternate Text" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>8</th>
                            <td>Áo nỉ mũ trái tim</td>
                            <td>Áo/Nam/Nữ</td>
                            <td>13/10/2022</td>
                            <td>
                                <div class="d-flex">
                                    <div>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </div>
                                    <div>
                                        <img style="padding-top: 12px;padding-left: 24px;cursor:pointer;" src="~/images/icon/Recycle-bin.png" alt="Alternate Text" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
