
@{
    ViewData["Title"] = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    .box-bill-1{
        border: 1px solid #111;
        padding: 0 15px 15px 15px;
    }
    .comfirm-bill .form-common-left{
        border: 0;
    }
    .comfirm-bill .form-common{
        border-right: 1px solid #111;
    }
</style>
<div class="text-center mt-40">
    <h1>XÁC NHẬN ĐƠN HÀNG</h1>
</div>
<div class="main-cart comfirm-bill">
    <div class="d-flex">
        <div class="col-6">
            <div class="form-common">
                <div class="form-cart">
                    <div class="form-group">
                        <h2>Đã xác nhận đơn hàng</h2>
                    </div>
                    <div class="form-group"> 
                        <p>ĐANG GIAO</p>
                    </div>
                    <div class="form-group">
                        <div class="box-bill-1">
                            <p class="mt-20"><b>MÃ ĐƠN HÀNG</b></p>
                            <p class="mt-20">202212E4GNSBNN </p>
                            <p class="mt-20"><b>ĐỊA CHỈ NHẬN HÀNG</b></p>
                            <p class="mt-20">Phương Thanh, 0335969556 HH4C Linh Đàm, Hoàng Mai, Hà Nội</p>
                            <p class="mt-20"><b>THÔNG TIN VẬN CHUYỂN</b></p>
                            <p class="mt-20">Giao hàng tiết kiệm #GHTK90087768</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="box-bill-1">
                            <p class="mt-20"><b>THÔNG TIN THANH TOÁN</b></p>
                            <div class="d-flex mt-20">
                                <div class="col-6">
                                    Tổng tiền sản phẩm
                                </div>
                                <div class="col-6 text-right">
                                    498.000đ
                                </div>
                            </div>
                            <div class="d-flex mt-20">
                                <div class="col-6">
                                    Đã áp dụng mã giảm giá
                                </div>
                                <div class="col-6 text-right">
                                    -100.000đ
                                </div>
                            </div>
                            <div class="d-flex mt-20">
                                <div class="col-6">
                                    Phí vận chuyển
                                </div>
                                <div class="col-6 text-right">
                                    35.000đ
                                </div>
                            </div>
                            <div class="d-flex mt-20">
                                <div class="col-6">
                                    Hình thức thanh toán
                                </div>
                                <div class="col-6 text-right">
                                    COD
                                </div>
                            </div>
                            <div class="line-black mt-10 mb-10"></div>
                            <div class="d-flex mt-20">
                                <div class="col-6">
                                    TỔNG TIỀN THANH TOÁN
                                </div>
                                <div class="col-6 text-right">
                                    434.000đ
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-common-left">
                <div class="form-group">
                    <h2>Đơn hàng 2</h2>
                </div>
                <div class="box-bill">
                    <div class="bill-item">
                        <div class="n-row form-group">
                            <div class="col-3">
                                <div class="">
                                    <img src="~/images/all/cart/1.png" alt="">
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3 text-align-center">
                                <div class="">
                                    <p>ÁO NỈ MŨ TRÁI TIM</p>
                                </div>
                            </div>
                            <div class="col-2 text-align-center">
                                <div>
                                    <p>x1</p>
                                </div>
                            </div>
                            <div class="col-3 text-align-center">
                                <p>199.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="bill-item">
                        <div class="n-row form-group">
                            <div class="col-3">
                                <div class="">
                                    <img src="~/images/all/cart/1.png" alt="">
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3 text-align-center">
                                <div class="">
                                    <p>ÁO NỈ MŨ TRÁI TIM</p>
                                </div>
                            </div>
                            <div class="col-2 text-align-center">
                                <div>
                                    <p>x1</p>
                                </div>
                            </div>
                            <div class="col-3 text-align-center">
                                <p>199.000đ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>