
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

  <div class="revenue">
            <div class="n-row">
                <div class="col-3 col-m-12">
                    <ul class="list-group">
                        <li class="list-group-item border-top-0 active" aria-current="true">Tất cả đơn hàng</li>
                        <li class="list-group-item">Chờ xác nhận</li>
                        <li class="list-group-item">Đã xác nhận</li>
                        <li class="list-group-item">Đang giao hàng</li>
                        <li class="list-group-item">Đã giao hàng</li>
                        <li class="list-group-item">Đã hủy</li>
                    </ul>
                </div>
                <div class="col-9 col-m-12">
                    <div class="pl-30 revenue-right">
                        <table class="table">
                            <thead>
                                <tr class="border-top-0">
                                    <th>ID</th>
                                    <th>Đơn hàng</th>
                                    <th>Ngày tạo đơn</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>
                                        <b>Đơn hàng 1</b>
                                        <br>
                                        Áo nỉ mũ trái tim
                                    </td>
                                    <td>13/10/2022</td>
                                    <td>Chờ xác nhận</td>
                                    <td>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td>
                                        <b>Đơn hàng 1</b>
                                        <br>
                                        Áo nỉ mũ trái tim
                                    </td>
                                    <td>13/10/2022</td>
                                    <td>Chờ xác nhận</td>
                                    <td>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td>
                                        <b>Đơn hàng 1</b>
                                        <br>
                                        Áo nỉ mũ trái tim
                                    </td>
                                    <td>13/10/2022</td>
                                    <td>Chờ xác nhận</td>
                                    <td>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>4</th>
                                    <td>
                                        <b>Đơn hàng 1</b>
                                        <br>
                                        Áo nỉ mũ trái tim
                                    </td>
                                    <td>13/10/2022</td>
                                    <td>Chờ xác nhận</td>
                                    <td>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>5</th>
                                    <td>
                                        <b>Đơn hàng 1</b>
                                        <br>
                                        Áo nỉ mũ trái tim
                                    </td>
                                    <td>13/10/2022</td>
                                    <td>Chờ xác nhận</td>
                                    <td>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>6</th>
                                    <td>
                                        <b>Đơn hàng 1</b>
                                        <br>
                                        Áo nỉ mũ trái tim
                                    </td>
                                    <td>13/10/2022</td>
                                    <td>Chờ xác nhận</td>
                                    <td>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>7</th>
                                    <td>
                                        <b>Đơn hàng 1</b>
                                        <br>
                                        Áo nỉ mũ trái tim
                                    </td>
                                    <td>13/10/2022</td>
                                    <td>Chờ xác nhận</td>
                                    <td>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>8</th>
                                    <td>
                                        <b>Đơn hàng 1</b>
                                        <br>
                                        Áo nỉ mũ trái tim
                                    </td>
                                    <td>13/10/2022</td>
                                    <td>Chờ xác nhận</td>
                                    <td>
                                        <a href="/admin/ManageBillDetail" class="btn-black" style="display:inline-block">Chi tiết</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
