
@{
    ViewData["Title"] = "Revenue";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

  <div class="revenue">
    <div class="box">
        <div class="box-header text-center">
            <div class="">
                <h2>THỐNG KẾ DOANH THU</h2>
            </div>
            <div class="n-row mt-20">
                <div class="col-4"></div>
                <div class="col-2 text-left">
                    <p>Doanh thu tháng 10</p>
                    <p><b>18.000.000 đ</b></p>
                </div>
                <div class="col-2 text-right">
                    <p>Số đơn hàng</p>
                    <p><b>90</b></p>
                </div>
                <div class="col-4"></div>

            </div>
        </div>
        <div class="box-img">
            <div>
                <img src="~/images/revenue.png" alt="">
            </div>
        </div>
    </div>
</div>